/* line 1, ../sass/index.scss */
img.banner {
  width: 100%; }

/* line 4, ../sass/index.scss */
.category {
  margin: 0px 10px; }
  /* line 6, ../sass/index.scss */
  .category .segmented-control {
    margin-bottom: 10px;
    width: 100%;
    border: 0px;
    border-radius: 0px; }
    /* line 11, ../sass/index.scss */
    .category .segmented-control .control-item {
      width: 33.33333%;
      height: 50px;
      line-height: 50px;
      border: 0px;
      color: #fff;
      font-size: 14px;
      letter-spacing: .5em; }
      /* line 19, ../sass/index.scss */
      .category .segmented-control .control-item.yp {
        background-color: #fb5151; }
      /* line 22, ../sass/index.scss */
      .category .segmented-control .control-item.jnb {
        background-color: #fbbc5b; }
      /* line 25, ../sass/index.scss */
      .category .segmented-control .control-item.jnc {
        background-color: #5050fb; }
      /* line 28, ../sass/index.scss */
      .category .segmented-control .control-item.yers {
        background-color: #ca86bf; }
      /* line 31, ../sass/index.scss */
      .category .segmented-control .control-item.sw {
        background-color: #7ee2fa; }
      /* line 34, ../sass/index.scss */
      .category .segmented-control .control-item.fp {
        background-color: #6ab6b3; }
