/* line 1, ../sass/login.scss */
.bar.bar-nav {
  background: #0c8097;
  color: #fff; }
  /* line 4, ../sass/login.scss */
  .bar.bar-nav .pull-left, .bar.bar-nav .pull-right {
    color: #fff;
    font-size: 17px; }
  /* line 8, ../sass/login.scss */
  .bar.bar-nav .title {
    color: #fff; }

/* line 14, ../sass/login.scss */
.content {
  font-size: 14px; }
  /* line 17, ../sass/login.scss */
  .content .input-row label {
    width: 20%;
    padding: 10px 0px 10px 15px; }
  /* line 21, ../sass/login.scss */
  .content .input-row input[type='password'], .content .input-row input[type='text'] {
    width: 80%; }
  /* line 26, ../sass/login.scss */
  .content button.btn-primary {
    background: #ff8200;
    color: #fff;
    border-color: #ff8200;
    left: 10%;
    font-size: 20px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none; }
  /* line 37, ../sass/login.scss */
  .content .f-psw {
    padding-bottom: 10px;
    padding-right: 15px;
    text-align: right; }
