/* line 114, icon/*.png */
.icon-sprite {
  background: url('/images/icon-sa39463ea33.png') no-repeat; }

/* line 8, ../sass/message.scss */
body.list .content .segmented-control.drop-nav {
  border: 0px;
  border-radius: 0px;
  background-color: #26a4bb; }
  /* line 13, ../sass/message.scss */
  body.list .content .segmented-control.drop-nav .control-item {
    height: 50px;
    line-height: 50px;
    color: #fff; }
    /* line 17, ../sass/message.scss */
    body.list .content .segmented-control.drop-nav .control-item:active, body.list .content .segmented-control.drop-nav .control-item.active {
      background-color: transparent; }
    /* line 20, ../sass/message.scss */
    body.list .content .segmented-control.drop-nav .control-item.category, body.list .content .segmented-control.drop-nav .control-item.charge {
      position: relative;
      font-size: 14px; }
      /* line 23, ../sass/message.scss */
      body.list .content .segmented-control.drop-nav .control-item.category .icon, body.list .content .segmented-control.drop-nav .control-item.charge .icon {
        font-size: 12px;
        margin-left: 6px; }
/* line 31, ../sass/message.scss */
body.list .content .table-view {
  border-top: 0px;
  border-bottom: 0px;
  margin-top: 0px; }
  /* line 35, ../sass/message.scss */
  body.list .content .table-view .table-view-cell {
    padding-right: 15px;
    border-bottom: 0px; }
    /* line 38, ../sass/message.scss */
    body.list .content .table-view .table-view-cell .segmented-control {
      width: 100%;
      text-align: left;
      font-size: 14px;
      border: 0px;
      background-color: #fff; }
      /* line 44, ../sass/message.scss */
      body.list .content .table-view .table-view-cell .segmented-control .control-item {
        color: #929292;
        border: 0px;
        border-radius: 0px;
        width: 25%; }
        /* line 49, ../sass/message.scss */
        body.list .content .table-view .table-view-cell .segmented-control .control-item:active, body.list .content .table-view .table-view-cell .segmented-control .control-item.active {
          background-color: inherit;
          color: #929292; }
    /* line 55, ../sass/message.scss */
    body.list .content .table-view .table-view-cell.odd {
      background-color: #f3f3f3; }
      /* line 57, ../sass/message.scss */
      body.list .content .table-view .table-view-cell.odd .segmented-control {
        background-color: inherit; }
  /* line 63, ../sass/message.scss */
  body.list .content .table-view .table-view-cell {
    background-image: none;
    padding-bottom: 0px;
    padding-right: 0px; }
    /* line 67, ../sass/message.scss */
    body.list .content .table-view .table-view-cell .segmented-control {
      padding-bottom: 10px;
      background-color: none;
      border: 0px;
      cusor: pointer; }
      /* line 72, ../sass/message.scss */
      body.list .content .table-view .table-view-cell .segmented-control .control-item {
        height: 27px;
        line-height: 27px; }
      /* line 76, ../sass/message.scss */
      body.list .content .table-view .table-view-cell .segmented-control .btn {
        width: 54px; }
  /* line 85, ../sass/message.scss */
  body.list .content .table-view .pagenate .segmented-control .control-item.disable {
    background-color: #929292; }
