@import "compass";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "icon/*.png";

body.list{
	.bar.bar-header-secondary{
		border-bottom:0px;
		.segmented-control{
			background-color:#26a4bb;
			border-color:#0c8097;
			.control-item{
				font-size:14px;
				color:#fff;
				border-left:#0c8097;
				&:active,&.active{
					background-color:#0c8097;
				}
				&.navigate-left{
					&::after{
						color:#fff;	
					}
					
				}
			}
		}		
	}
	.content{
		.table-view{
			border-top:0px;
			border-bottom:0px;
			margin-top:0px;
			.table-view-cell{
				padding-right:15px;
				border-bottom:0px;
				.segmented-control{
					width:100%;
					text-align:left;
					font-size:14px;
					border:0px;
					.control-item{
						border-left:0px;
						width:(100% /4);
						&:active,&.active{
							background-color:inherit;
							color:#929292;
						}
					}
				}			
				&.bread{
					padding-bottom:0px;
					background-image:none;
					.segmented-control{
						background-color:#ccc;
						&.control-item{
							font-size:16px;
						}
					}						
				}
				&.odd{
					background-color:#f3f3f3;
					.segmented-control{
						background-color:inherit;
					}
				}			
			}
			.verticalAccordion {
				width: 100%;
				.table-view-cell{
					background-image:none;
					padding-bottom:0px;
					padding-right:0px;
					.segmented-control{										
						padding-bottom:10px;
						background-color:none;
						border:0px;
						cusor: pointer;
						.control-item{
							height:27px;
							line-height:27px;
						}
						.btn{
							width:54px;
						}
					}
					.detail{
						display:none;
						background-color:#fff;
						padding: 10px;
						color:#929292;
						font-size:14px;	
						.table-view-cell.media{
							img.media-object{
								height:inherit;
							}	
							>p{
								display:inline-block;
								padding-bottom:10px;
								width:100%;
							}
							.btn{
								outline:none;
								width:54px;
							}							
						}

					}					
				}
			}
			.pagenate{
				.segmented-control{
					.control-item{
						&.disable{
							background-color:#929292;
						}
					} 
				}
			}
		}

	}
	#category_list{
		.table-view-cell{
			margin-right:15px;
		}
	}
	.modal{
		.content.search{
			.table-view-cell{
				padding-right:15px;
				label{
					display:inline-block;
					width:100%;
					height:inherit;
					span{
						display:inline-block;
						padding-right:1em;
					}
					input[type='radio']{
						display:none;
					}
					i.radio-btn{
						display:inline-block;
						width:22px;
						height:22px;
						position:relative;
						top:5px;
						@include icon-sprite(radio);
						&:hover{
							@include icon-sprite(radio_hover);
						}
						&.ok{
							@include icon-sprite(radio_active);
						} 
					}
				}
				&.search-name{
					input[type='text']{
						margin-bottom:0px;
					}					
				}
			}
		}
		.subscribe{
			.table-view-cell{
				padding-right:15px;
				label{
					display:inline-block;
					width:100%;
					height:inherit;
					padding-right:1em;
					span{
						display:inline-block;
					}
					input[type='radio']{
						display:none;
					}
					i.radio-btn{
						display:inline-block;
						width:22px;
						height:22px;
						position:relative;
						top:5px;
						@include icon-sprite(radio);
						&:hover{
							@include icon-sprite(radio_hover);
						}
						&.ok{
							@include icon-sprite(radio_active);
						} 
					}
				}
				&.search-name{
					input[type='text']{
						margin-bottom:0px;
					}					
				}
			}			
		}
	}
}




